@import './element-variables.scss';
@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}
/*滚动条里面轨道*/
::-webkit-scrollbar-track {
  background: #f5f5f5;
  padding: 0 2px;
}
/*滚动条里面小方块*/
::-webkit-scrollbar-thumb {
  background: #d7d7d7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #d7d7d7;
}

::-webkit-scrollbar-button:vertical:decrement,
::-webkit-scrollbar-button:vertical:increment {
  height: 4px;
  width: 4px;
  background: #f5f5f5;
}
.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.fetalk-table-form {
  color: $--color-text-primary;
  font-size: 14px;
  width: 100%;
  border: 1px solid $--border-color-light;
  border-right: none;
  border-bottom: none;
  table {
    width: 100%;
  }
  tr {
    background-color: $--color-white;
  }
  td {
    border-right: 1px solid $--border-color-light;
    border-bottom: 1px solid $--border-color-light;
    padding: 12px 5px;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    text-align: left;
    background-color: $--color-white;
    &.center {
      text-align: center;
    }
    &.left {
      text-align: left;
    }
    &.right {
      text-align: right;
    }
    .el-form-item {
      margin-bottom: 0;
      &::before,
      &::after {
        display: none;
      }
    }
    .el-form-item__content {
      line-height: 32px;
      &::before,
      &::after {
        display: none;
      }
    }
    .el-form-item__error {
      padding-top: 2px;
    }
    .el-input,
    .el-cascader,
    .el-select {
      width: 100%;

      &.is-disabled {
        .el-input__inner,
        .el-textarea__inner {
          border: 1px solid transparent;
          &:hover,
          &:focus {
            border: 1px solid transparent;
          }
        }
      }
    }
    .el-input__inner,
    .el-textarea__inner {
      border: 1px solid transparent;
      &:hover {
        border: 1px solid $--border-color-base;
      }
      &:focus {
        border: 1px solid $--color-primary;
      }
      &.is-disabled {
        border: 1px solid transparent !important;
      }
    }
    .border-input {
      width: 70%;
      margin-right: 4px;
      .el-input__inner {
        border: solid 1px $--border-color-light;
        &:hover {
          border: 1px solid $--border-color-base;
        }
        &:focus {
          border: 1px solid $--color-primary;
        }
      }
    }
    .upload_img {
      width: 100%;
      height: 100%;
    }
  }
  &.border-form {
    .el-input__inner,
    .el-textarea__inner {
      border: solid 1px $--border-color-light;
      &:hover {
        border: 1px solid $--border-color-base;
      }
      &:focus {
        border: 1px solid $--color-primary;
      }
    }
  }
}

.primary-color {
  color: $--color-primary;
}
.danger-color {
  color: $--color-danger;
}
.success-color {
  color: $--color-success;
}
.warning-color {
  color:$--color-warning;
}